;; shadow-cljs configuration
{:deps true  ; Use deps.edn for dependencies

 :dev-http {8080 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:init-fn sabc.client.app/init
                         :entries [sabc.client.app]}}
        :devtools {:after-load sabc.client.app/re-render}}}}
